<h1>{{ name }}</h1>

<dl>
    <td>Nombre:</td>
    <dd>{{ name }}</dd>
    <td>Edad:</td>
    <dd>{{ age }}</dd>
    <td>Método:</td>
    <dd>{{ getHeroDescription() }}</dd>
    <td>Capitalizado:</td>
    <dd>{{ capitalizedName }}</dd>
</dl>

<button *ngIf="name !== 'SpiderMan'" (click)="changeHero()" class="btn btn-outline-danger mx-2">
  Cambiar nombre
</button>
<button *ngIf="age !== 32" (click)="changeAge()" class="btn btn-outline-success">
  Cambiar Edad
</button>
<button (click)="resetForm()" class="btn btn-outline-success mx-2">
  Reset
</button>
